body {
    
    display: flex;
    margin: 0px;
    padding: 0px;
}

.main-image {
    width: 600px;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

.main-pic-copyright {
    position: absolute;
    bottom: 0;
    left: 180px;

    color: white;


}

.odin-overlay {
    background-color: black;
    width: 140px;
    height: 180px;
}

.odin-container {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 600px;
    height: 200px;
    top: 200px;
    opacity: 0.8;

    
}

.odin-text {
    color: white;
}

@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}

.odin-text {
    font-family: Norse-Bold;
    font-size: 140px;
    position: absolute;
    right: 30px;
    top: -90px;
}